<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List 4.2</title>

    <style type="text/css">

header nav ul{
            text-align: center;
            /* background-color: red; */
        }

        header nav ul li{
            display: inline;
            margin-right: 50px;
        }

        header nav ul li a{
            text-decoration: none;
            font-size: larger;
        }

        footer p{
            text-align: center;
        }

    </style>

</head>
<body>

    <header>

        <nav>

            <ul>
                <li><a href="home" target="_blank">Home</a></li>
                <li><a href="Blogs" target="_blank">Blogs</a></li>
                <li><a href="About" target="_blank">About</a></li>
            </ul>

        </nav>

    </header>

    <main>

        <article>

            <section>
                <header>
                    <h1>I am Adding a picture</h1>
                </header>

            </section>

            <section>
                <img src="F:\PH\Html and Css\resources\Pasha.png" alt="pashar picture is not available" />

                <figcaption>Pashar Picture from bachelor natok</figcaption>
                <p>Published on <time datetime="2023-11-03">December 03,2029</time></p>
            </section>

        </article>

    </main>

    <footer>

        <p>
            <small> &copy; All rights reserved by Moin.</small>
        </p>

    </footer>
    
</body>
</html>