header nav ul{
    background-color: ;
}
header  nav > ul{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

header nav ul > li{
    /* display: inline; */
    list-style-type: none;
    margin-right: 50px;
} 

header nav ul li > a{
    text-decoration: none;
}

header nav ul li a:hover{
    background-color: aqua;
}

header nav ul li > ul{
    display: none;
}


header nav ul li:hover > ul{
    display: block;
    position: absolute;
    padding-left: 10px;
    background-color: lightyellow;
}




/* header nav ul{
    background-color: ;
}
header  nav  ul div.list{
    text-align: center;
}

header nav ul > li{
    display: inline;
    list-style-type: none;
    margin-right: 50px;
}  */