<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic List 1.4</title>
</head>
<body>

    <ul>
        <li>shirt</li>
        <li>pant</li>
        <li>Jota</li>
        <li>
            muja

            <ol>
                <li>Biriyani</li>
                <li>Luchi</li>
                <li>Malta</li>
                <li>Kacchi</li>
                <li>Shemai</li>
            </ol>
            
        </li>

        </li>
        <li>jainga</li>
    </ul>
    
</body>
</html>